<%- include('./partials/header', { title: title }) %>

<main>
  <h1><%= category.name %></h1>

  <h2>Service Projects in this Category</h2>
  <ul>
    <% projects.forEach(project => { %>
      <li>
        <a href="/project/<%= project.id %>"><%= project.name %></a>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/footer') %>
